<div class="container_big-card">
    <div class="big-card__photo">
        <img 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwRlsUqrtMH02G1_p41tIp-4xnt8RXOvVdbg&usqp=CAU"
            alt=""
            height="200px"
            srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a noticia</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
            a noticia.......
            ahahfdhfhdhgfdgsfdgsfdgfdg
            sgdgsdgsfdgsdgdgsdfgsd
            </a>
        </p>
    </div>
</div>
