<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles_main">
        <app-big-card 
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwRlsUqrtMH02G1_p41tIp-4xnt8RXOvVdbg&usqp=CAU"
            cardTitle="NOVO ARQUEIRO VERDE"
            cardDescription="CW sem arqueiro verde na equipe."
            >
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card 
            cardTitle="Nova serie dos herois reunidos"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSROxmBn82JtTtBvSwDpf1E-425ijQYbDSpnA&usqp=CAU"
            >

        </app-small-card>

        <app-small-card
            cardTitle="Liga da justiça reunida"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHcc0JA5qUVxwVrxcu5zgYOhCbusOe6EWrgA&usqp=CAU"
        >

        </app-small-card>

        <app-small-card
            cardTitle=" CD x Marvel o embate do século"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSeY0PDk30xRzp0mN-HMu6fU0E2TBzwujryQ&usqp=CAU"
        >

        </app-small-card>
    </div>

</div>

